<div class="ui secondary pointing menu">
  <a class="item active">
    Inventario
  </a>
  <a class="item">
    Pedidos Clientes
  </a>
  <a class="item">
    Administrar Cuentas
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'signOut'}}>
      	Salir
    </a>
  </div>
</div>
<div class="ui segment">
  	
</div>