<head>

<meta charset="utf-8">
	<title>Don Beto's Shop</title>
</head>
<body style="background-image: url(http://www.publicdomainpictures.net/pictures/190000/velka/black-background-1468370534d5s.jpg);">
	<div class="ui container">
		<div class="card-panel white">
			<div class="ui container">
				<div class="card-panel black">
					<h1 class="white-text text-darken-2" style="text-align: center;">Don Beto's Shop</h1>
				</div>
			</div>
			{{outlet}}
			<div class="ui container">
				<div class="card-panel black">
				</div>
			</div>
		</div>
	</div>
</body>

<footer class="black page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
    			<h5 class="white-text">Don Beto's Shop</h5>
                
            </div>
            
        </div>
    </div>
        <div class="footer-copyright">
        	<div class="container">
            	© 2017 Kabram Producciones, Todos los derechos Reservados.
            </div>
        </div>
</footer>